In [33]:
from mysql.connector import pooling,Error

In [34]:
def connection_pooling():
    connection = None
    try:
        connection_pool = pooling.MySQLConnectionPool(
            pool_name='pool_a',
            pool_size=2,
            host='localhost',
            database='little_lemon',
            user='root',
            password='rosales93.'
        )
        connection = connection_pool.get_connection()
        print("Connection Done")
        return connection
    except Error as e:
        print(f"MySQL ERROR: {e}")
        return None

In [36]:
connection = connection_pooling()

Connection Done

In [37]:
#creating a cursor.
cursor = connection.cursor()

In [40]:
peak_hours = """
  CREATE PROCEDURE PeakHours()
BEGIN
    SELECT HOUR(BookingSlot) AS 'Hour', COUNT(*) AS 'Amount_of_Booking' 
    FROM bookings
	GROUP BY HOUR(BookingSlot)
    ORDER BY Amount_of_Booking DESC;
END
"""

In [41]:
cursor.execute(peak_hours)

In [43]:
cursor.callproc('PeakHours')

()

In [46]:
result = next(cursor.stored_results())

C:\Users\Renan Rosales\AppData\Local\Temp\ipykernel_14456\3930685186.py:1: DeprecationWarning: Call to deprecated function stored_results. Reason: The property counterpart 'stored_results' will be added in a future release, and this method will be removed.
  result = next(cursor.stored_results())

In [47]:
dataset = result.fetchall()

In [49]:
for column_id in cursor.stored_results():
    columns=[column[0] for column in column_id.description]

C:\Users\Renan Rosales\AppData\Local\Temp\ipykernel_14456\1887645679.py:1: DeprecationWarning: Call to deprecated function stored_results. Reason: The property counterpart 'stored_results' will be added in a future release, and this method will be removed.
  for column_id in cursor.stored_results():

In [50]:
print(columns)

['Hour', 'Amount_of_Booking']

In [52]:
print(columns)
for data in dataset:
    print(data)

['Hour', 'Amount_of_Booking']
(19, 2)
(15, 1)
(17, 1)
(18, 1)
(20, 1)

In [53]:
GuestStatus = """
CREATE PROCEDURE GuestStatus()
BEGIN
	SELECT CONCAT(B.GuestFirstName,' ',B.GuestLastName) AS 'Full_Name',E.Role,
	CASE
		WHEN E.Role = 'Manager' OR E.Role = "Assistant Manager" THEN 'Ready to pay'
		WHEN E.Role = 'Head Chef' THEN 'Ready to serve'
		WHEN E.Role = 'Assistant Chef' THEN 'Preparing Order'
		WHEN E.Role = 'Head Waiter' THEN 'Order served'
	END AS 'Status'
	FROM bookings AS B
	LEFT JOIN employees AS E 
	ON B.EmployeeID = E.EmployeeID;
END
"""

In [54]:
cursor.execute(GuestStatus)

In [55]:
cursor.callproc('GuestStatus')

()

In [57]:
result = next(cursor.stored_results())

C:\Users\Renan Rosales\AppData\Local\Temp\ipykernel_14456\3930685186.py:1: DeprecationWarning: Call to deprecated function stored_results. Reason: The property counterpart 'stored_results' will be added in a future release, and this method will be removed.
  result = next(cursor.stored_results())

In [58]:
for column_id in cursor.stored_results():
    columns = [column[0] for column in column_id.description]

C:\Users\Renan Rosales\AppData\Local\Temp\ipykernel_14456\2763558.py:1: DeprecationWarning: Call to deprecated function stored_results. Reason: The property counterpart 'stored_results' will be added in a future release, and this method will be removed.
  for column_id in cursor.stored_results():

In [59]:
dataset = result.fetchall()

In [60]:
print(columns)
for data in dataset:
    print(data)

['Full_Name', 'Role', 'Status']
('Anna Iversen', 'Manager', 'Ready to pay')
('Joakim Iversen', 'Manager', 'Ready to pay')
('Vanessa McCarthy', 'Head Chef', 'Ready to serve')
('Marcos Romero', 'Assistant Chef', 'Preparing Order')
('Hiroki Yamane', 'Assistant Manager', 'Ready to pay')
('Diana Pinto', 'Head Waiter', 'Order served')